doctype html
html(lang='en-En')
	head
		title Главная
		link(rel="stylesheet", type="text/css", href="static/css/main.min.css")
	body
		script(src="static/js/libs.min.js")
		script(src="static/js/main.min.js")
